<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/jb.min.js"></script>
</head>
<body>
    <h1> {[ msg ]} </h1>
    <ol id="app">
        <li v-for="n in names">
            {{n}}
        </li>
    </ol>
</body>
<script>
    $(function () {
        var vm = new Vue({
            el:'#app',
            data(){
                return{
                    names:[]
                }
            },
            mounted (){
                that =this;
                $.post("/getnames",{"type":"cn"},function (result) {
                    for (var i=0;i<result.length;i++){
                        that.names.push(result[i]);
                    }
                },"json");
            }
        });
    });
</script>
</html>
